<!--Baby Cattleya Gustina Permatagama-->
<!--File Tampil Data (HTML)-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mobcom - Tampil Data</title>
    
    <!--Load css & font-->
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

  </head>
  <body>
    <div class="box container">
      <div class="row">
        <div class="col-md-12">
            <div class="title">Your Data</div>
            <div class="result">
              <div class="row">
                <div class="col-md-3">NPM</div> <div class="col-md-9">: {{npm}}</div>
              </div>
              <div class="row">
                <div class="col-md-3">Full Name</div> <div class="col-md-9">: {{name}}</div>
              </div>
              <div class="row">
                <div class="col-md-3">Email</div> <div class="col-md-9">: {{email}}</div>
              </div>
              <div class="row">
                <div class="col-md-3">Photo : </div>
              </div>
            </div>
            <img class="photo" src="/image.png" />

        </div>
      </div>
    </div>
 
    <!--Load bootstrap.js file-->
    <script src="js/bootstrap.js"></script>
  </body>
</html>